@import './variable.scss';

@mixin b($block) {
  // $B: $namespace + '-' + $block !global;
  $B: $block !global;
  .#{$B} {
    @content;
  }
}

@mixin when($state) {
  @at-root {
    #{& + '.' + $state-prefix + $state} {
      @content;
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin e($element) {
  @at-root {
    & {
      #{& + $element-separator + $element} {
        @content;
      }
    }
  }
}

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-ellipsis-multi($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@include when(center) {
  display: flex;
  align-items: center;
  justify-content: center;
}