$--theme--color: #D33A31;

$--body--color: #252525;
$--header--color: #252525;
$--menu--color: #202020;

$--font--color: #b1b1b1;
$--font--color-shallow: #6F6F6F;
$--font--color-white: #DCDDE4;

$--font--size: 14px;
$--title--font--size: 18px;
$--font--size-lg: 16px;
$--font--size-sm: 12px;

$--header--height: 50px;

$--menu_item--color-hover: #1D1D1D;
$--menu_item--color-active: #1B1B1B;


$namespace: 'i';
$state-prefix: 'is-';
$modifier-separator: '--';
$element-separator: '__';